html {
    font-size: 16px;
    line-height: 1.5;
}

body {
    padding: 0;
    margin: 0;
    background-image: grey;
    background-attachment: fixed;
    background-size: 100vw 100vh;
    font-family: sans-serif;
}

.title {
    text-align: center;
    margin-bottom: 5vh;
    font-size: 1.8rem;
}

/* Navigation styles */
#navbar {
    position: fixed;
    top: 0;
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(71, 60, 235));
    width: 100vw;
}

#navbar ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}

#navbar ul li a {
    display: block;
    padding: 15px;
    margin-right: 2vw;
    color: white;
    text-decoration: none;
}

#navbar ul li a.active {
    color: rgb(0, 9, 128);
}

/* Welcome screen styles */
#welcome-section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(113, 92, 219);
    font-size: 2rem;
    margin: -15vh 5vw 10vh 5vw;
    font-family: Arial, Helvetica, sans-serif;
    font-variant: small-caps;
    cursor: default;
    background-image: url('https://lh3.googleusercontent.com/BWlIkVtXLv-u51oSde04QdKqoU2BTDOUdavmYx2Zj88Y2o7bO1CzCCpWQzmB8b4M1WHSLBNWhxdXKpUdylpx4GRGwT4n4htfiSiC23AxnzcLeBN-3pcqXhei9disn3JLaxCqR_PA6Ir61GXSuCdT_HaguRDEV87G8lmyv9Lg4NOyD8xt-piw1S3DE5L6rvDhAdgCF6k1uF66iB1r4YuP1c_b6MXU13l0SRQpxUiDH1LK09TFzuFZdf1hnde7neBy26VRQC1mR5TCVL0vid1qN-1PoWhfkFoGK-z-gJZE5rE5wnyh8RuOcS5cOtRhL0TFhHMmJ7rKA0P_MQoQC3HN-EnZ7BsbA3f7EYHoLPA81QSh_x03Bn6cpTtyzIglyWvn3r-4FjX8jm62lKoPHvhNsA6FIeTvk8KgbX2-U_KcR9kHNVwJd-PNWl0Ut1IitJ60SK8tgeqR7ZVNqS7rYBoZ6mj4odK0hLU6AlQFeQlJxukjwCC3hHpPN8e3vNaTnYxghAqCuMSgBqo0MV1W9kZ9Ca6DbKu_Wdm70xPvEpvfdnzmdbI4aZ0wfeRqzFTZKedZmSVk9hoI-v7WZft6PLd_pKf-TX1JNcAtXRQLGFmLYmdKD_U7z11e8jD-cSXTVx_trjBFD1p3_kSGwC2_tH2JLVfSN9T_If3R1EjIv1hduk1nl9aVGIOUkW8ABFUD7g=s669-no?authuser=0');
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* About me section styles */
.aboutBox {
    min-height: 100vh;
    padding: 5vw;
    color: white;
    background-image: linear-gradient(#111, #111, #111, #111, #222);
}

#myPicture {
    width: 33vw;
    float: right;
    border-radius: 10px;
    margin-left: 5vw;
}

.aboutBox p {
    text-align: justify;
}

/* Portfolio section styles */
.portfoliBox {
    min-height: 100vh;
    padding: 5vw;
    color: white;
    background-image: linear-gradient(#222, #222, #222, #222, rgb(0, 4, 65));
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.container .project-tile a img {
    border-radius: 10px 10px 0 0;
    width: 40vw;
    height: 33vh;
}

.container .project-tile p {
    text-align: center;
    margin: -1.5vh 0 5vh 0;
    background-color: white;
    color: black;
    padding: 1vh 0;
}

.container #last-item {
    visibility: hidden;
}

/* Contact section styles */
.contactBox {
    min-height: 100vh;
    text-align: center;
    font-size: 1rem;
    padding: 5vw;
    color: white;
    background-color: #333;
}

.contactBox p {
    margin-top: 10vh;
    font-size: 1.25rem;
}

.contactBox .links-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contactBox #profile-link, .contactBox .logo {
    text-decoration: none;
    color:  rgb(0, 9, 128);;
    border: 1px solid  rgb(0, 9, 128);;
    padding: 10px;
}

.contactBox #profile-link:hover, .contactBox .logo:hover {
    background-color: white;
}

/* Footer styles */
footer {
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(71, 60, 235));
    color: white;
    text-align: center;
    padding: 1vh 0;
    font-size: 0.75rem;
}



  